
<div class="row">
     <h1>Proyectos realizados</h1>
     <div class="contenedor">
          <div class="col-sm-12 col-md-6 col-lg-6 parte1">
               <h2>Plataforma</h2>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad deserunt pariatur nobis saepe, ipsam rem officia laborum exercitationem a facere expedita veniam esse maxime nulla. Dolores explicabo obcaecati fugiat ipsa!</p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
               <a href="https://argentinaprograma.inti.gob.ar/login/index.php"><img src="../../../assets/codigo-programacion-pixabay.jpg" class="img-fluid img-proyecto" id="buscador" alt="pagina de proyecto">></a>
          </div>
     </div>
</div>
