<!-- asi se comenta en html. no codigos como por ej:
<div class="container">
     <div class="row">

     </div>
</div>
solo expresiones para un backend: ej: Tamaño de  rejilla en acerca de
-->
<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="../../../assets/perfil.png" 
          class="img-fluid"
          id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p id="nombre">
               <link rel="preconnect" href="https://fonts.googleapis.com">
               <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
               <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
               Arold Willis
          </p>
          <p>Full Stack Developer Jr</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <span>
               <h1>Acerca de mi</h1>
               <p>Tengo una personalidad extrovertida. Me gustan los desafios, trabajar
                    en equipo, dinamico, emprendedor y buscar la excelencia en los proyectos
                    a realizar con posibilidad de mejora continua. En tiempos libres busco 
                    ampliar nuevos conocimientos sobre todo lo que se relacione con tecnologia
                    e informatica.
               </p>
          </span>
     </div>
</div>
