<div class="row">
     <h1>Experiencia laboral</h1>
     <div class="col-lg-1"></div>
     <div class="col-lg-11">
          <ul>
               <li>
                    <h1>
                         Trabajo 1<h3>(years)</h3>
                         <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit omnis cum in quaerat nihil illum numquam consectetur incidunt? Corrupti voluptate consequatur quia voluptates porro est dolorum ducimus, error molestias illo!
                         </p>
                    </h1>
               </li>
          </ul>
          <ul>
               <li>
                    <h1>
                         Trabajo 2<h3>(years)</h3>
                         <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit omnis cum in quaerat nihil illum numquam consectetur incidunt? Corrupti voluptate consequatur quia voluptates porro est dolorum ducimus, error molestias illo!
                         </p>
                    </h1>
               </li>
          </ul>
          <ul>
               <li>
                    <h1>
                         Trabajo 3<h3>(years)</h3>
                         <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit omnis cum in quaerat nihil illum numquam consectetur incidunt? Corrupti voluptate consequatur quia voluptates porro est dolorum ducimus, error molestias illo!
                         </p>
                    </h1>
               </li>
          </ul>
     </div>
</div>>
